*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}

.center {
  text-align: center;
}

.event-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 1.5em;
  max-width: 1000px;
  margin: auto;
}

.event-card {
  border: 1px solid black;
  padding: 1em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.event-card:hover {
  transform: scale(1.1);
}

label,
input,
button {
  display: block;
}

.error {
  color: red;
  font-weight: bold;
}

.invalid {
  border: 2px solid red;
}
